<div class="form-container mt-4 mat-elevation-z5">
    <h2>Reset Password</h2>
    <form [formGroup]="passwordForm" class="text-center ">
           
          <mat-form-field> 
            <input matInput  placeholder="Email address" formControlName="email">
            
        </mat-form-field>
       
             <div class="text-center mt-3">
              <button mat-raised-button color="primary" type="submit" (click)="forgotPassword()"
              >Send Link</button>
          </div>
          <br>
          <span >Back to login<a  class="link" routerLink="/login">Login</a></span>
    </form></div>